[Unit]
Description=mylaptop keyboard kmonad
After=network.target

[Service]
Type=simple
ExecStart=/home/igor/.nix-profile/bin/kmonad /home/igor/.config/home-manager/dotfiles/kmonad-normal.kbd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
